---
layout: default
---
<div class="country">

  <header class="header">
    <h1 class="title">{{ page.country }}</h1>
    <p class="meta">Last updated {{ page.date | date: "%b %-d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="entry">
    <h1>Entry</h1>
    {% for step in page.entry %}
      <section>
        <h2>{{ step.name }}</h2>
        {% include biometrics.html %}
        {% if step.restrictions %} <span class="restrictions">Restrictions: {{ step.restrictions }}</span>{% endif %}
        <p>{{ step.notes }}</p>
      </section>
    {% endfor %}
  </article>

  <article class="exit">
    <h1>Exit</h1>
    {% for step in page.exit %}
      <section>
        <h2>{{ step.name }}</h2>
        {% include biometrics.html %}
        {% if step.restrictions %} <span class="restrictions">Restrictions: {{ step.restrictions }}</span>{% endif %}
        <p>{{ step.notes }}</p>
      </section>
    {% endfor %}
  </article>

  <article class="content">
    {{ content }}
  </article>

</div>
